<!--<div class="watch" ng-controller="todosController">
    <div ng-repeat="item in records">Hi, {{item.description}}</div>
    <br>
    <button class="btn" ng-click="showWatch()">Show Watch</button>
</div>-->
<div class="app" ng-controller="todosController">


    <!--nav-wrap-->
    <div class="nav-wrap">
        <ul class="nav nav-tabs">
            <li><a href="#watch">Watch</a></li>
            <li class="active"><a href="#todos">Todos</a></li>
        </ul>
    </div>
    <!--/nav-wrap-->

    <!--content-->
    <div class="content">

        <div class="tab-content">

            <div class="tab-pane active">

                <div class="todos-wrap">

                    <div class="todos-list">
                        <ul>

                            <li ng-repeat="item in records">
                                <div class="input-group">
                                    <input type="text" ng-show="isSelected($index)" class="form-control" ng-model="item.description">
                                    <div ng-hide="isSelected($index)" ng-click="select($index)">{{item.description}}</div>
                                    <span class="input-group-btn" ng-show="isSelected($index)">
                                        <button class="btn btn-default" type="button" ng-click="save($index)">V</button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="delete($index)">-</button>
                                    </span>
                                    <span class="input-group-btn" ng-hide="isSelected($index)">
                                        <button class="btn btn-default" type="button" ng-click="add($index)">+</button>
                                    </span>
                                </div>
                            </li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>
    </div>
    <!--/content-->

</div>
